.external{
	border:3px solid maroon ;
	background-color: red;
	font-size: 50px;
}

/*p{
	color: purple;
}*/
/*div{
	height: 100px;
	width: 100px;
	background-color: green;
} */
/**{
	font-size: 30px;
	font-family: cursive;
	color: green;
}*/